# local.repo

# alibaba.repo
[ali]
name=ali repo
baseurl=http://yum.marcpoint.com/packages/centos/6/ali_rpms
gpgcheck=0
enabled=1

# local.repo
[local]
name=local  repo
baseurl=http://yum.marcpoint.com/packages/centos/6/local_rpms
gpgcheck=0
enabled=1